button{
    width: 100%;
    background-color: lightgray;
    border-color: white;
}
table{
    width:100%;
}
td{
    width:33%;
}
input, button, td{
    font-size: 48pt;
}
.campo{
    border-style: solid; 
    border-radius: 4px;
}